<div class="home-page">
  <h1>Bem-vindo(a) {{showUsername}}</h1>

  <div class="table-wrapper">

    <table class="fl-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Cidade</th>
          <th>Nome da empresa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users;">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.address.city}}</td>
          <td>{{user.company.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
